</body>
</html>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/static/adminlib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/adminlib/layer/2.4/layer.js"></script>

<script type="text/javascript" src="/static/adminlib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/static/adminlib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/static/adminlib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/static/adminstatic/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/adminstatic/h-ui.admin/js/H-ui.admin.page.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    /*退出*/
    function logout(obj,id){
        layer.confirm('确认要退出吗？',function(index){
            var url="{php}echo url('/admin/logout');{/php}";


            window.location.href=url;
        });
    }
</script>

<!--/_footer /作为公共模版分离出去-->